In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('C:\\Users\\omeoo\\Downloads\\CCE Schedule_automate.xlsx', engine='openpyxl')

In [4]:
df.head()

,Wk/ ETB CGP,Service,Vessel,Voyage-S,ETA CGP,ETB CGP,ETD CGP,Voyage-N,ETA CMB,ETB CMB,ETD CMB,ETA CGP-2,ETB CGP-2,ETD CGP-2
0,13,CCE,"SAHARE ""MSAH""",0019S,2021-03-29,2021-03-29,2021-04-01,0019N,2021-04-05,2021-04-05,2021-04-06,2021-04-11,2021-04-11,2021-04-14
1,14,CCE,"HR HERA ""MHRA""",0001S,2021-04-05,2021-04-05,2021-04-07,0001N,2021-04-12,2021-04-12,2021-04-13,2021-04-22,2021-04-22,2021-04-25
2,14,CCE,"SARERA ""MSAR""",0020S,2021-04-07,2021-04-07,2021-04-09,0020N,2021-04-15,2021-04-15,2021-04-16,2021-04-25,2021-04-25,2021-04-28
3,16,CCE,"HR RHEA ""MREA""",0002S,2021-04-19,2021-04-19,2021-04-22,0002N,2021-04-28,2021-04-28,2021-04-28,2021-05-04,2021-05-04,2021-05-07
4,17,CCE,"SAHARE ""MSAH""",0021S,2021-04-28,2021-04-28,2021-05-01,0021N,2021-05-07,2021-05-07,2021-05-08,2021-05-13,2021-05-13,2021-05-16

In [20]:
x = df['Voyage-S'][0]

print(x)

0019S

In [ ]:
for i in range(len(df['Vessel'])):
  if df['Vessel'][i] == 'SAHARE  "MSAH"' or df['Vessel'][i] == 'HR SAHARE "MSAH"' or df['Vessel'][i] == 'HR SAHARE  "MSAH"' or df['Vessel'][i] == ' HR SAHARE  "MSAH"':
    df['Vessel'][i] = 'HR SAHARE "MSAH"'
  elif df['Vessel'][i] == 'SARERA  "MSAR"' or df['Vessel'][i] == 'HR SARERA "MSAR"' or df['Vessel'][i] == 'HR SARERA  "MSAR"'  :
    df['Vessel'][i] ='HR SARERA "MSAR"'
  elif df['Vessel'][i] == 'HR FARHA "MHRF"' or df['Vessel'][i] == 'HR FARHA  "MHRF"' :
    df['Vessel'][i] ='HR FARHA "MHRF"'
  else:
    df['Vessel'][i] = df['Vessel'][i]

In [8]:
df['Vessel'].unique()

array(['HR SAHARE "MSAH"', 'HR HERA  "MHRA"', 'HR SARERA "MSAR"',
       'HR RHEA "MREA" ', 'HR FARHA "MHRF"', 'HR AARAI "MRAI"',
       'HR BALU "MBLU"', 'HR TURAG "MTRG"'], dtype=object)

In [9]:
vessel_name = ['HR SAHARE "MSAH"', 'HR HERA  "MHRA"', 'HR SARERA "MSAR"',
       'HR RHEA "MREA" ', 'HR FARHA "MHRF"', 'HR AARAI "MRAI"',
       'HR BALU "MBLU"', 'HR TURAG "MTRG"']

In [ ]:
def get_voyage_s(last_info):
    


    previous_voyage = last_info['Voyage-s']

    integer_part_str = ''.join([char for char in previous_voyage if char.isdigit()])
    integer_part_int = int(integer_part_str)

    next_voyage = integer_part_int + 1
    number_of_zeros = 4 - len(str(next_voyage))
    next_voyage = '0' * number_of_zeros + str(next_voyage) + 'S'

    return next_voyage

In [ ]:
def get_voyage_n(last_info):
    


    previous_voyage = last_info['Voyage-s']

    integer_part_str = ''.join([char for char in previous_voyage if char.isdigit()])
    integer_part_int = int(integer_part_str)

    next_voyage = integer_part_int + 1
    number_of_zeros = 4 - len(str(next_voyage))
    next_voyage = '0' * number_of_zeros + str(next_voyage) + 'N'

    return next_voyage

In [17]:
for vessel in vessel_name :
    last_info = df[df['Vessel'] == vessel].iloc[-1]
    new_record = {  'Wk/ ETB CGP' : None,
                    'Service': last_info['Service'],
                    'Vessel' : last_info['Vessel'],
                    'Voyage-S':	get_voyage_s(),
                    'ETA CGP':	last_info['ETA CGP-2'],
                    'ETB CGP':	last_info['ETB CGP-2'],
                    'ETD CGP':	last_info['ETD CGP-2'],
                    'Voyage-N':	get_voyage_n(),
                    'ETA CMB' :	get_eta_cmb(),
                    'ETB CMB' :	get_etb_cmb(),
                    'ETD CMB' :	get_etd_cmb(),
                    'ETA CGP-2' : get_eta_cgp(),
                    'ETB CGP-2' : get_etb_cgp(),	
                    'ETD CGP-2': get_etd_cgp()}