In [39]:
import pandas as pd
from datetime import datetime, timedelta

In [2]:
df = pd.read_excel('C:\\Users\\omeoo\\Downloads\\CCE Schedule_automate.xlsx', engine='openpyxl')

In [4]:
df.head()

,Wk/ ETB CGP,Service,Vessel,Voyage-S,ETA CGP,ETB CGP,ETD CGP,Voyage-N,ETA CMB,ETB CMB,ETD CMB,ETA CGP-2,ETB CGP-2,ETD CGP-2
0,13,CCE,"SAHARE ""MSAH""",0019S,2021-03-29,2021-03-29,2021-04-01,0019N,2021-04-05,2021-04-05,2021-04-06,2021-04-11,2021-04-11,2021-04-14
1,14,CCE,"HR HERA ""MHRA""",0001S,2021-04-05,2021-04-05,2021-04-07,0001N,2021-04-12,2021-04-12,2021-04-13,2021-04-22,2021-04-22,2021-04-25
2,14,CCE,"SARERA ""MSAR""",0020S,2021-04-07,2021-04-07,2021-04-09,0020N,2021-04-15,2021-04-15,2021-04-16,2021-04-25,2021-04-25,2021-04-28
3,16,CCE,"HR RHEA ""MREA""",0002S,2021-04-19,2021-04-19,2021-04-22,0002N,2021-04-28,2021-04-28,2021-04-28,2021-05-04,2021-05-04,2021-05-07
4,17,CCE,"SAHARE ""MSAH""",0021S,2021-04-28,2021-04-28,2021-05-01,0021N,2021-05-07,2021-05-07,2021-05-08,2021-05-13,2021-05-13,2021-05-16

In [ ]:
"""Pre-processing to remove duplicate vessel name"""

for i in range(len(df['Vessel'])):
  if df['Vessel'][i] == 'SAHARE  "MSAH"' or df['Vessel'][i] == 'HR SAHARE "MSAH"' or df['Vessel'][i] == 'HR SAHARE  "MSAH"' or df['Vessel'][i] == ' HR SAHARE  "MSAH"':
    df['Vessel'][i] = 'HR SAHARE "MSAH"'
  elif df['Vessel'][i] == 'SARERA  "MSAR"' or df['Vessel'][i] == 'HR SARERA "MSAR"' or df['Vessel'][i] == 'HR SARERA  "MSAR"'  :
    df['Vessel'][i] ='HR SARERA "MSAR"'
  elif df['Vessel'][i] == 'HR FARHA "MHRF"' or df['Vessel'][i] == 'HR FARHA  "MHRF"' :
    df['Vessel'][i] ='HR FARHA "MHRF"'
  else:
    df['Vessel'][i] = df['Vessel'][i]

In [8]:
df['Vessel'].unique()

array(['HR SAHARE "MSAH"', 'HR HERA  "MHRA"', 'HR SARERA "MSAR"',
       'HR RHEA "MREA" ', 'HR FARHA "MHRF"', 'HR AARAI "MRAI"',
       'HR BALU "MBLU"', 'HR TURAG "MTRG"'], dtype=object)

In [38]:
last_info = df[df['Vessel'] == 'HR SAHARE "MSAH"'].iloc[-1]
print(type(last_info['ETA CMB']))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [9]:

"""List of Vessel Avaiable at CCE/BES"""
vessel_name = ['HR SAHARE "MSAH"', 'HR HERA  "MHRA"', 'HR SARERA "MSAR"',
       'HR RHEA "MREA" ', 'HR FARHA "MHRF"', 'HR AARAI "MRAI"',
       'HR BALU "MBLU"', 'HR TURAG "MTRG"']

In [57]:
"""Generates South Bound Voyage from last last voyage

    args: pd.Series -> Row matched from the last of that specified vessel 
    return : str -> next_voyage

"""


def get_voyage_s(last_info):
    


    previous_voyage = last_info['Voyage-S']

    integer_part_str = ''.join([char for char in previous_voyage if char.isdigit()])
    integer_part_int = int(integer_part_str)

    next_voyage = integer_part_int + 1
    number_of_zeros = 4 - len(str(next_voyage))
    next_voyage = '0' * number_of_zeros + str(next_voyage) + 'S'

    return next_voyage

In [58]:
"""Generates Nort Bound Voyage from last last voyage

    args: pd.Series -> Row matched from the last of that specified vessel 
    return : str -> next_voyage

"""

def get_voyage_n(last_info):
    


    previous_voyage = last_info['Voyage-N']

    integer_part_str = ''.join([char for char in previous_voyage if char.isdigit()])
    integer_part_int = int(integer_part_str)

    next_voyage = integer_part_int + 1
    number_of_zeros = 4 - len(str(next_voyage))
    next_voyage = '0' * number_of_zeros + str(next_voyage) + 'N'

    return next_voyage

In [45]:
"""Generates ETA CMB

    args: pd.Series -> Row matched from the last of that specified vessel 
    return : Timestamp -> new_date

"""

def get_eta_cmb(last_info):

    n = 5 # use probabilistic/ml model later
    last_date = last_info['ETD CGP']
    new_date = last_date + timedelta(days=n)
    return  new_date

In [46]:
"""Generates ETB CMB

    args: pd.Series -> Row matched from the last of that specified vessel 
    return : Timestamp -> new_date

"""

def get_etb_cmb(last_info):

    n = 1 # use probabilistic/ml model later
    last_date = last_info['ETA CMB']
    new_date = last_date + timedelta(days=n)
    return  new_date

In [47]:
"""Generates ETD CMB

    args: pd.Series -> Row matched from the last of that specified vessel 
    return : Timestamp -> new_date

"""

def get_etd_cmb(last_info):

    n = 1 # use probabilistic/ml model later
    last_date = last_info['ETB CMB']
    new_date = last_date + timedelta(days=n)
    return  new_date

In [48]:
"""Generates ETA CGP-2

    args: pd.Series -> Row matched from the last of that specified vessel 
    return : Timestamp -> new_date

"""

def get_eta_cgp(last_info):

    n = 5 # use probabilistic/ml model later
    last_date = last_info['ETD CMB']
    new_date = last_date + timedelta(days=n)
    return  new_date

In [49]:
"""Generates ETB CGP-2

    args: pd.Series -> Row matched from the last of that specified vessel 
    return : Timestamp -> new_date

"""

def get_etb_cgp(last_info):

    n = 1 # use probabilistic/ml model later
    last_date = last_info['ETA CGP-2']
    new_date = last_date + timedelta(days=n)
    return  new_date

In [50]:
"""Generates ETD CGP-2

    args: pd.Series -> Row matched from the last of that specified vessel 
    return : Timestamp -> new_date

"""

def get_etd_cgp(last_info):

    n = 3 # use probabilistic/ml model later
    last_date = last_info['ETA CGP-2']
    new_date = last_date + timedelta(days=n)
    return  new_date

In [61]:
"""Generating new samples from previous data"""

for vessel in vessel_name :
    last_info = df[df['Vessel'] == vessel].iloc[-1]
    new_record = {  'Wk/ ETB CGP' : int(last_info['Wk/ ETB CGP']) + 1,
                    'Service': last_info['Service'],
                    'Vessel' : last_info['Vessel'],
                    'Voyage-S':	get_voyage_s(last_info),
                    'ETA CGP':	last_info['ETA CGP-2'],
                    'ETB CGP':	last_info['ETB CGP-2'],
                    'ETD CGP':	last_info['ETD CGP-2'],
                    'Voyage-N':	get_voyage_n(last_info),
                    'ETA CMB' :	get_eta_cmb(last_info),
                    'ETB CMB' :	get_etb_cmb(last_info),
                    'ETD CMB' :	get_etd_cmb(last_info),
                    'ETA CGP-2' : get_eta_cgp(last_info),
                    'ETB CGP-2' : get_etb_cgp(last_info),	
                    'ETD CGP-2': get_etd_cgp(last_info)}
    print(new_record)

{'Wk/ ETB CGP': 35, 'Service': 'CCE', 'Vessel': 'HR SAHARE "MSAH"', 'Voyage-S': '0102S', 'ETA CGP': Timestamp('2024-09-05 00:00:00'), 'ETB CGP': Timestamp('2024-09-07 00:00:00'), 'ETD CGP': Timestamp('2024-09-10 00:00:00'), 'Voyage-N': '0102N', 'ETA CMB': Timestamp('2024-08-30 00:00:00'), 'ETB CMB': Timestamp('2024-08-31 00:00:00'), 'ETD CMB': Timestamp('2024-08-31 00:00:00'), 'ETA CGP-2': Timestamp('2024-09-05 00:00:00'), 'ETB CGP-2': Timestamp('2024-09-06 00:00:00'), 'ETD CGP-2': Timestamp('2024-09-08 00:00:00')}
{'Wk/ ETB CGP': 33, 'Service': 'CCE', 'Vessel': 'HR HERA  "MHRA"', 'Voyage-S': '0010S', 'ETA CGP': Timestamp('2021-08-29 00:00:00'), 'ETB CGP': Timestamp('2021-08-29 00:00:00'), 'ETD CGP': Timestamp('2021-09-01 00:00:00'), 'Voyage-N': '0010N', 'ETA CMB': Timestamp('2021-08-20 00:00:00'), 'ETB CMB': Timestamp('2021-08-23 00:00:00'), 'ETD CMB': Timestamp('2021-08-23 00:00:00'), 'ETA CGP-2': Timestamp('2021-08-29 00:00:00'), 'ETB CGP-2': Timestamp('2021-08-30 00:00:00'), 'ETD CGP-2': Timestamp('2021-09-01 00:00:00')}
{'Wk/ ETB CGP': 36, 'Service': 'CCE', 'Vessel': 'HR SARERA "MSAR"', 'Voyage-S': '0104S', 'ETA CGP': Timestamp('2024-09-11 00:00:00'), 'ETB CGP': Timestamp('2024-09-12 00:00:00'), 'ETD CGP': Timestamp('2024-09-15 00:00:00'), 'Voyage-N': '0104N', 'ETA CMB': Timestamp('2024-09-05 00:00:00'), 'ETB CMB': Timestamp('2024-09-06 00:00:00'), 'ETD CMB': Timestamp('2024-09-06 00:00:00'), 'ETA CGP-2': Timestamp('2024-09-11 00:00:00'), 'ETB CGP-2': Timestamp('2024-09-12 00:00:00'), 'ETD CGP-2': Timestamp('2024-09-14 00:00:00')}
{'Wk/ ETB CGP': 32, 'Service': 'CCE', 'Vessel': 'HR RHEA "MREA" ', 'Voyage-S': '0009S', 'ETA CGP': Timestamp('2021-08-19 00:00:00'), 'ETB CGP': Timestamp('2021-08-19 00:00:00'), 'ETD CGP': Timestamp('2021-08-22 00:00:00'), 'Voyage-N': '0009N', 'ETA CMB': Timestamp('2021-08-10 00:00:00'), 'ETB CMB': Timestamp('2021-08-13 00:00:00'), 'ETD CMB': Timestamp('2021-08-13 00:00:00'), 'ETA CGP-2': Timestamp('2021-08-18 00:00:00'), 'ETB CGP-2': Timestamp('2021-08-20 00:00:00'), 'ETD CGP-2': Timestamp('2021-08-22 00:00:00')}
{'Wk/ ETB CGP': 36, 'Service': 'CCE', 'Vessel': 'HR FARHA "MHRF"', 'Voyage-S': '0076S', 'ETA CGP': Timestamp('2024-09-17 00:00:00'), 'ETB CGP': Timestamp('2024-09-17 00:00:00'), 'ETD CGP': Timestamp('2024-09-20 00:00:00'), 'Voyage-N': '0076N', 'ETA CMB': Timestamp('2024-09-08 00:00:00'), 'ETB CMB': Timestamp('2024-09-12 00:00:00'), 'ETD CMB': Timestamp('2024-09-13 00:00:00'), 'ETA CGP-2': Timestamp('2024-09-17 00:00:00'), 'ETB CGP-2': Timestamp('2024-09-18 00:00:00'), 'ETD CGP-2': Timestamp('2024-09-20 00:00:00')}
{'Wk/ ETB CGP': 35, 'Service': 'CCE', 'Vessel': 'HR AARAI "MRAI"', 'Voyage-S': '0076S', 'ETA CGP': Timestamp('2024-09-03 00:00:00'), 'ETB CGP': Timestamp('2024-09-04 00:00:00'), 'ETD CGP': Timestamp('2024-09-07 00:00:00'), 'Voyage-N': '0076N', 'ETA CMB': Timestamp('2024-08-27 00:00:00'), 'ETB CMB': Timestamp('2024-08-28 00:00:00'), 'ETD CMB': Timestamp('2024-08-28 00:00:00'), 'ETA CGP-2': Timestamp('2024-09-03 00:00:00'), 'ETB CGP-2': Timestamp('2024-09-04 00:00:00'), 'ETD CGP-2': Timestamp('2024-09-06 00:00:00')}
{'Wk/ ETB CGP': 19, 'Service': 'CCE', 'Vessel': 'HR BALU "MBLU"', 'Voyage-S': '0028S', 'ETA CGP': Timestamp('2024-05-11 00:00:00'), 'ETB CGP': Timestamp('2024-05-13 00:00:00'), 'ETD CGP': Timestamp('2024-05-15 00:00:00'), 'Voyage-N': '0028N', 'ETA CMB': Timestamp('2024-05-06 00:00:00'), 'ETB CMB': Timestamp('2024-05-07 00:00:00'), 'ETD CMB': Timestamp('2024-05-07 00:00:00'), 'ETA CGP-2': Timestamp('2024-05-12 00:00:00'), 'ETB CGP-2': Timestamp('2024-05-12 00:00:00'), 'ETD CGP-2': Timestamp('2024-05-14 00:00:00')}
{'Wk/ ETB CGP': 36, 'Service': 'CCE', 'Vessel': 'HR TURAG "MTRG"', 'Voyage-S': '0038S', 'ETA CGP': Timestamp('2024-09-12 00:00:00'), 'ETB CGP': Timestamp('2024-09-15 00:00:00'), 'ETD CGP': Timestamp('2024-09-17 00:00:00'), 'Voyage-N': '0038N', 'ETA CMB': Timestamp('2024-09-06 00:00:00'), 'ETB CMB': Timestamp('2024-09-07 00:00:00'), 'ETD CMB': Timestamp('2024-09-07 00:00:00'), 'ETA CGP-2': Timestamp('2024-09-12 00:00:00'), 'ETB CGP-2': Timestamp('2024-09-13 00:00:00'), 'ETD CGP-2': Timestamp('2024-09-15 00:00:00')}