In [39]:
import pandas as pd
from datetime import datetime, timedelta

In [2]:
df = pd.read_excel('C:\\Users\\omeoo\\Downloads\\CCE Schedule_automate.xlsx', engine='openpyxl')

In [4]:
df.head()

,Wk/ ETB CGP,Service,Vessel,Voyage-S,ETA CGP,ETB CGP,ETD CGP,Voyage-N,ETA CMB,ETB CMB,ETD CMB,ETA CGP-2,ETB CGP-2,ETD CGP-2
0,13,CCE,"SAHARE ""MSAH""",0019S,2021-03-29,2021-03-29,2021-04-01,0019N,2021-04-05,2021-04-05,2021-04-06,2021-04-11,2021-04-11,2021-04-14
1,14,CCE,"HR HERA ""MHRA""",0001S,2021-04-05,2021-04-05,2021-04-07,0001N,2021-04-12,2021-04-12,2021-04-13,2021-04-22,2021-04-22,2021-04-25
2,14,CCE,"SARERA ""MSAR""",0020S,2021-04-07,2021-04-07,2021-04-09,0020N,2021-04-15,2021-04-15,2021-04-16,2021-04-25,2021-04-25,2021-04-28
3,16,CCE,"HR RHEA ""MREA""",0002S,2021-04-19,2021-04-19,2021-04-22,0002N,2021-04-28,2021-04-28,2021-04-28,2021-05-04,2021-05-04,2021-05-07
4,17,CCE,"SAHARE ""MSAH""",0021S,2021-04-28,2021-04-28,2021-05-01,0021N,2021-05-07,2021-05-07,2021-05-08,2021-05-13,2021-05-13,2021-05-16

In [ ]:
"""Pre-processing to remove duplicate vessel name"""

for i in range(len(df['Vessel'])):
  if df['Vessel'][i] == 'SAHARE  "MSAH"' or df['Vessel'][i] == 'HR SAHARE "MSAH"' or df['Vessel'][i] == 'HR SAHARE  "MSAH"' or df['Vessel'][i] == ' HR SAHARE  "MSAH"':
    df['Vessel'][i] = 'HR SAHARE "MSAH"'
  elif df['Vessel'][i] == 'SARERA  "MSAR"' or df['Vessel'][i] == 'HR SARERA "MSAR"' or df['Vessel'][i] == 'HR SARERA  "MSAR"'  :
    df['Vessel'][i] ='HR SARERA "MSAR"'
  elif df['Vessel'][i] == 'HR FARHA "MHRF"' or df['Vessel'][i] == 'HR FARHA  "MHRF"' :
    df['Vessel'][i] ='HR FARHA "MHRF"'
  else:
    df['Vessel'][i] = df['Vessel'][i]

In [8]:
df['Vessel'].unique()

array(['HR SAHARE "MSAH"', 'HR HERA  "MHRA"', 'HR SARERA "MSAR"',
       'HR RHEA "MREA" ', 'HR FARHA "MHRF"', 'HR AARAI "MRAI"',
       'HR BALU "MBLU"', 'HR TURAG "MTRG"'], dtype=object)

In [38]:
last_info = df[df['Vessel'] == 'HR SAHARE "MSAH"'].iloc[-1]
print(type(last_info['ETA CMB']))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [9]:

"""List of Vessel Avaiable at CCE/BES"""
vessel_name = ['HR SAHARE "MSAH"', 'HR HERA  "MHRA"', 'HR SARERA "MSAR"',
       'HR RHEA "MREA" ', 'HR FARHA "MHRF"', 'HR AARAI "MRAI"',
       'HR BALU "MBLU"', 'HR TURAG "MTRG"']

In [57]:
"""Generates South Bound Voyage from last last voyage

    args: pd.Series -> Row matched from the last of that specified vessel 
    return : str -> next_voyage

"""


def get_voyage_s(last_info):
    


    previous_voyage = last_info['Voyage-S']

    integer_part_str = ''.join([char for char in previous_voyage if char.isdigit()])
    integer_part_int = int(integer_part_str)

    next_voyage = integer_part_int + 1
    number_of_zeros = 4 - len(str(next_voyage))
    next_voyage = '0' * number_of_zeros + str(next_voyage) + 'S'

    return next_voyage

In [58]:
"""Generates Nort Bound Voyage from last last voyage

    args: pd.Series -> Row matched from the last of that specified vessel 
    return : str -> next_voyage

"""

def get_voyage_n(last_info):
    


    previous_voyage = last_info['Voyage-N']

    integer_part_str = ''.join([char for char in previous_voyage if char.isdigit()])
    integer_part_int = int(integer_part_str)

    next_voyage = integer_part_int + 1
    number_of_zeros = 4 - len(str(next_voyage))
    next_voyage = '0' * number_of_zeros + str(next_voyage) + 'N'

    return next_voyage

In [73]:
"""Generates ETA CMB

    args: pd.Series -> Row matched from the last of that specified vessel 
    return : Timestamp -> new_date

"""

def get_eta_cmb(last_info):

    n = 5 # use probabilistic/ml model later
    last_date = last_info['ETD CGP-2']
    new_date = last_date + timedelta(days=n)
    return  new_date

In [74]:
"""Generates ETB CMB

    args: pd.Series -> Row matched from the last of that specified vessel 
    return : Timestamp -> new_date

"""

def get_etb_cmb():

    n = 1 # use probabilistic/ml model later
    last_date = get_eta_cmb(last_info)
    new_date = last_date + timedelta(days=n)
    return  new_date

In [80]:
"""Generates ETD CMB

    args: pd.Series -> Row matched from the last of that specified vessel 
    return : Timestamp -> new_date

"""

def get_etd_cmb():

    n = 1 # use probabilistic/ml model later
    last_date = get_etb_cmb()
    new_date = last_date + timedelta(days=n)
    return  new_date

In [76]:
"""Generates ETA CGP-2

    args: pd.Series -> Row matched from the last of that specified vessel 
    return : Timestamp -> new_date

"""

def get_eta_cgp():

    n = 5 # use probabilistic/ml model later
    last_date = get_etd_cmb()
    new_date = last_date + timedelta(days=n)
    return  new_date

In [77]:
"""Generates ETB CGP-2

    args: pd.Series -> Row matched from the last of that specified vessel 
    return : Timestamp -> new_date

"""

def get_etb_cgp():

    n = 1 # use probabilistic/ml model later
    last_date = get_eta_cgp()
    new_date = last_date + timedelta(days=n)
    return  new_date

In [78]:
"""Generates ETD CGP-2

    args: pd.Series -> Row matched from the last of that specified vessel 
    return : Timestamp -> new_date

"""

def get_etd_cgp():

    n = 3 # use probabilistic/ml model later
    last_date = get_etb_cgp()
    new_date = last_date + timedelta(days=n)
    return  new_date

In [81]:
"""Generating new samples from previous data"""
new_df = pd.DataFrame()

for vessel in vessel_name :
    last_info = df[df['Vessel'] == vessel].iloc[-1]
    new_record = {  'Wk/ ETB CGP' : int(last_info['Wk/ ETB CGP']) + 1,
                    'Service': last_info['Service'],
                    'Vessel' : last_info['Vessel'],
                    'Voyage-S':	get_voyage_s(last_info),
                    'ETA CGP':	last_info['ETA CGP-2'],
                    'ETB CGP':	last_info['ETB CGP-2'],
                    'ETD CGP':	last_info['ETD CGP-2'],
                    'Voyage-N':	get_voyage_n(last_info),
                    'ETA CMB' :	get_eta_cmb(last_info),
                    'ETB CMB' :	get_etb_cmb(),
                    'ETD CMB' :	get_etd_cmb(),
                    'ETA CGP-2' : get_eta_cgp(),
                    'ETB CGP-2' : get_etb_cgp(),	
                    'ETD CGP-2': get_etd_cgp()}
    print(new_record)
    new_record_df = pd.DataFrame([new_record])
    new_df = pd.concat([new_df,new_record_df], ignore_index=True)

{'Wk/ ETB CGP': 35, 'Service': 'CCE', 'Vessel': 'HR SAHARE "MSAH"', 'Voyage-S': '0102S', 'ETA CGP': Timestamp('2024-09-05 00:00:00'), 'ETB CGP': Timestamp('2024-09-07 00:00:00'), 'ETD CGP': Timestamp('2024-09-10 00:00:00'), 'Voyage-N': '0102N', 'ETA CMB': Timestamp('2024-09-15 00:00:00'), 'ETB CMB': Timestamp('2024-09-16 00:00:00'), 'ETD CMB': Timestamp('2024-09-17 00:00:00'), 'ETA CGP-2': Timestamp('2024-09-22 00:00:00'), 'ETB CGP-2': Timestamp('2024-09-23 00:00:00'), 'ETD CGP-2': Timestamp('2024-09-26 00:00:00')}
{'Wk/ ETB CGP': 33, 'Service': 'CCE', 'Vessel': 'HR HERA  "MHRA"', 'Voyage-S': '0010S', 'ETA CGP': Timestamp('2021-08-29 00:00:00'), 'ETB CGP': Timestamp('2021-08-29 00:00:00'), 'ETD CGP': Timestamp('2021-09-01 00:00:00'), 'Voyage-N': '0010N', 'ETA CMB': Timestamp('2021-09-06 00:00:00'), 'ETB CMB': Timestamp('2021-09-07 00:00:00'), 'ETD CMB': Timestamp('2021-09-08 00:00:00'), 'ETA CGP-2': Timestamp('2021-09-13 00:00:00'), 'ETB CGP-2': Timestamp('2021-09-14 00:00:00'), 'ETD CGP-2': Timestamp('2021-09-17 00:00:00')}
{'Wk/ ETB CGP': 36, 'Service': 'CCE', 'Vessel': 'HR SARERA "MSAR"', 'Voyage-S': '0104S', 'ETA CGP': Timestamp('2024-09-11 00:00:00'), 'ETB CGP': Timestamp('2024-09-12 00:00:00'), 'ETD CGP': Timestamp('2024-09-15 00:00:00'), 'Voyage-N': '0104N', 'ETA CMB': Timestamp('2024-09-20 00:00:00'), 'ETB CMB': Timestamp('2024-09-21 00:00:00'), 'ETD CMB': Timestamp('2024-09-22 00:00:00'), 'ETA CGP-2': Timestamp('2024-09-27 00:00:00'), 'ETB CGP-2': Timestamp('2024-09-28 00:00:00'), 'ETD CGP-2': Timestamp('2024-10-01 00:00:00')}
{'Wk/ ETB CGP': 32, 'Service': 'CCE', 'Vessel': 'HR RHEA "MREA" ', 'Voyage-S': '0009S', 'ETA CGP': Timestamp('2021-08-19 00:00:00'), 'ETB CGP': Timestamp('2021-08-19 00:00:00'), 'ETD CGP': Timestamp('2021-08-22 00:00:00'), 'Voyage-N': '0009N', 'ETA CMB': Timestamp('2021-08-27 00:00:00'), 'ETB CMB': Timestamp('2021-08-28 00:00:00'), 'ETD CMB': Timestamp('2021-08-29 00:00:00'), 'ETA CGP-2': Timestamp('2021-09-03 00:00:00'), 'ETB CGP-2': Timestamp('2021-09-04 00:00:00'), 'ETD CGP-2': Timestamp('2021-09-07 00:00:00')}
{'Wk/ ETB CGP': 36, 'Service': 'CCE', 'Vessel': 'HR FARHA "MHRF"', 'Voyage-S': '0076S', 'ETA CGP': Timestamp('2024-09-17 00:00:00'), 'ETB CGP': Timestamp('2024-09-17 00:00:00'), 'ETD CGP': Timestamp('2024-09-20 00:00:00'), 'Voyage-N': '0076N', 'ETA CMB': Timestamp('2024-09-25 00:00:00'), 'ETB CMB': Timestamp('2024-09-26 00:00:00'), 'ETD CMB': Timestamp('2024-09-27 00:00:00'), 'ETA CGP-2': Timestamp('2024-10-02 00:00:00'), 'ETB CGP-2': Timestamp('2024-10-03 00:00:00'), 'ETD CGP-2': Timestamp('2024-10-06 00:00:00')}
{'Wk/ ETB CGP': 35, 'Service': 'CCE', 'Vessel': 'HR AARAI "MRAI"', 'Voyage-S': '0076S', 'ETA CGP': Timestamp('2024-09-03 00:00:00'), 'ETB CGP': Timestamp('2024-09-04 00:00:00'), 'ETD CGP': Timestamp('2024-09-07 00:00:00'), 'Voyage-N': '0076N', 'ETA CMB': Timestamp('2024-09-12 00:00:00'), 'ETB CMB': Timestamp('2024-09-13 00:00:00'), 'ETD CMB': Timestamp('2024-09-14 00:00:00'), 'ETA CGP-2': Timestamp('2024-09-19 00:00:00'), 'ETB CGP-2': Timestamp('2024-09-20 00:00:00'), 'ETD CGP-2': Timestamp('2024-09-23 00:00:00')}
{'Wk/ ETB CGP': 19, 'Service': 'CCE', 'Vessel': 'HR BALU "MBLU"', 'Voyage-S': '0028S', 'ETA CGP': Timestamp('2024-05-11 00:00:00'), 'ETB CGP': Timestamp('2024-05-13 00:00:00'), 'ETD CGP': Timestamp('2024-05-15 00:00:00'), 'Voyage-N': '0028N', 'ETA CMB': Timestamp('2024-05-20 00:00:00'), 'ETB CMB': Timestamp('2024-05-21 00:00:00'), 'ETD CMB': Timestamp('2024-05-22 00:00:00'), 'ETA CGP-2': Timestamp('2024-05-27 00:00:00'), 'ETB CGP-2': Timestamp('2024-05-28 00:00:00'), 'ETD CGP-2': Timestamp('2024-05-31 00:00:00')}
{'Wk/ ETB CGP': 36, 'Service': 'CCE', 'Vessel': 'HR TURAG "MTRG"', 'Voyage-S': '0038S', 'ETA CGP': Timestamp('2024-09-12 00:00:00'), 'ETB CGP': Timestamp('2024-09-15 00:00:00'), 'ETD CGP': Timestamp('2024-09-17 00:00:00'), 'Voyage-N': '0038N', 'ETA CMB': Timestamp('2024-09-22 00:00:00'), 'ETB CMB': Timestamp('2024-09-23 00:00:00'), 'ETD CMB': Timestamp('2024-09-24 00:00:00'), 'ETA CGP-2': Timestamp('2024-09-29 00:00:00'), 'ETB CGP-2': Timestamp('2024-09-30 00:00:00'), 'ETD CGP-2': Timestamp('2024-10-03 00:00:00')}

In [82]:
new_df

,Wk/ ETB CGP,Service,Vessel,Voyage-S,ETA CGP,ETB CGP,ETD CGP,Voyage-N,ETA CMB,ETB CMB,ETD CMB,ETA CGP-2,ETB CGP-2,ETD CGP-2
0,35,CCE,"HR SAHARE ""MSAH""",0102S,2024-09-05,2024-09-07,2024-09-10,0102N,2024-09-15,2024-09-16,2024-09-17,2024-09-22,2024-09-23,2024-09-26
1,33,CCE,"HR HERA ""MHRA""",0010S,2021-08-29,2021-08-29,2021-09-01,0010N,2021-09-06,2021-09-07,2021-09-08,2021-09-13,2021-09-14,2021-09-17
2,36,CCE,"HR SARERA ""MSAR""",0104S,2024-09-11,2024-09-12,2024-09-15,0104N,2024-09-20,2024-09-21,2024-09-22,2024-09-27,2024-09-28,2024-10-01
3,32,CCE,"HR RHEA ""MREA""",0009S,2021-08-19,2021-08-19,2021-08-22,0009N,2021-08-27,2021-08-28,2021-08-29,2021-09-03,2021-09-04,2021-09-07
4,36,CCE,"HR FARHA ""MHRF""",0076S,2024-09-17,2024-09-17,2024-09-20,0076N,2024-09-25,2024-09-26,2024-09-27,2024-10-02,2024-10-03,2024-10-06
5,35,CCE,"HR AARAI ""MRAI""",0076S,2024-09-03,2024-09-04,2024-09-07,0076N,2024-09-12,2024-09-13,2024-09-14,2024-09-19,2024-09-20,2024-09-23
6,19,CCE,"HR BALU ""MBLU""",0028S,2024-05-11,2024-05-13,2024-05-15,0028N,2024-05-20,2024-05-21,2024-05-22,2024-05-27,2024-05-28,2024-05-31
7,36,CCE,"HR TURAG ""MTRG""",0038S,2024-09-12,2024-09-15,2024-09-17,0038N,2024-09-22,2024-09-23,2024-09-24,2024-09-29,2024-09-30,2024-10-03